__pycache__/
*.pyc

cache/banners/
cache/characters/
cache/episodes/
cache/metadata/
cache/posters/
cache/subtitles/
cache/thumbnails/

cache/library.db
cache/library.db-*
cache/watch_history.json
cache/watch_status.json
cache/settings.json

.env
venv/
.venv/

desktop.ini